[submodule "arch-aur-flann/flann"]
	path = arch-aur-flann/flann
	url = https://aur.archlinux.org/flann.git
[submodule "arch-aur-geogram/geogram"]
	path = arch-aur-geogram/geogram
	url = https://aur.archlinux.org/geogram.git
[submodule "arch-aur-coin-or-lemon/coin-or-lemon"]
	path = arch-aur-coin-or-lemon/coin-or-lemon
	url = https://aur.archlinux.org/coin-or-lemon.git
[submodule "arch-aur-ceres-solver/ceres-solver"]
	path = arch-aur-ceres-solver/ceres-solver
	url = https://aur.archlinux.org/ceres-solver.git
[submodule "arch-aur-uncertainty-framework/uncertainty-framework"]
	path = arch-aur-uncertainty-framework/uncertainty-framework
	url = https://aur.archlinux.org/uncertainty-framework.git
[submodule "arch-aur-popsift/popsift"]
	path = arch-aur-popsift/popsift
	url = https://aur.archlinux.org/popsift.git
[submodule "arch-aur-opengv-git/opengv-git"]
	path = arch-aur-opengv-git/opengv-git
	url = https://aur.archlinux.org/opengv-git.git
[submodule "arch-aur-alice-vision/alice-vision"]
	path = arch-aur-alice-vision/alice-vision
	url = https://aur.archlinux.org/alice-vision.git
[submodule "arch-aur-meshroom/meshroom"]
	path = arch-aur-meshroom/meshroom
	url = https://aur.archlinux.org/meshroom.git
[submodule "arch-aur-shiboken2-git/shiboken2-git"]
	path = arch-aur-shiboken2-git/shiboken2-git
	url = https://aur.archlinux.org/shiboken2-git.git
[submodule "arch-aur-pyside2-git/pyside2-git"]
	path = arch-aur-pyside2-git/pyside2-git
	url = https://aur.archlinux.org/pyside2-git.git
